        body {
            background-color: #333;
            color: whitesmoke;
            font-family: Arial, sans-serif;
            font-size: 20px;
        }

        a {
            color: #00bfff;
            text-decoration: none;
        }
        a:hover {
            color: #ff4500;
            text-decoration: underline;
        }
        a:visited {
            color: #006eff;
        }
      
        table, tr, td ,th , caption, tbody{
            color: whitesmoke;
            font-size: 20px;
            padding: 10px;
            text-align: center;
            border: 1px solid #eee;
            border-collapse: collapse;
            
        }